<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <el-container>
        <!--<el-header>Header</el-header>-->
        <el-main>
            <el-form ref="form" :model="form">
                <p><span style="color: rgb(54, 104, 246);font-size: 20px;font-weight: 700;">用户登录</span> Login User</p>
                <p style="font-size: 12px;">----欢迎登陆后台管理----</p>
                <el-form-item>
                    <el-input v-model="form.username" placeholder="用户名"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-input v-model="form.password" type="password" placeholder="密码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="onSubmit">登陆</el-button>
                    <el-button>注册</el-button>
                </el-form-item>
            </el-form>
        </el-main>
        <!--<el-footer>Footer</el-footer>-->
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--import Axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--import Qs-->
<script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                form: {
                    username: 'admin',
                    password: '123456'
                }
            }
        },
        methods: {
            onSubmit(){
                let _this = this;
                let data = {
                    username: this.form.username,
                    password: this.form.password
                };
                // 发送 POST 请求
                axios.post("{:url('admin/Login/login')}", Qs.stringify(data)).then(function (res) {
                    if (res.data.code == 200) {
                        _this.$message({
                            message: '登陆成功',
                            type: 'success'
                        });
                        setTimeout(function () {
                            window.location.href = "{:url('admin/Index/index')}";
                        }, 1500);
                    } else {
                        _this.$message.error(res.data.message);
                    }
                });
            }
        }
    })
</script>
<style lang="scss">
    body {
        background: #e2f9ff;
    }

    .el-form {
        width: 300px;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
        border: 1px solid #bababa;
        padding: 23px;
        border-radius: 3px;
        box-shadow: 5px 5px 10px #bababa;
    }
</style>
</html>