<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{block name="title"}标题{/block}</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="/static/element-ui/index.css">
    <script src="/static/less/index.js"></script>
    <link rel="stylesheet" href="/static/css/admin_main.less">
    <!-- import Vue before Element -->
    <script src="/static/vue/index.js"></script>
    <!-- import JavaScript -->
    <script src="/static/element-ui/index.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>
            <div style="width: 30%;height: 100%;float: left;margin-left: 400px;color: white;padding-top: 10px;font-size: 14px;">
                <p><i class="el-icon-time"></i>&nbsp;欢迎您,Admin&nbsp;&nbsp;&nbsp;<i class="el-icon-time"></i>&nbsp;消息通知</p>
            </div>
            <el-menu :default-active="activeIndex2" class="el-menu-demo" mode="horizontal" @select="handleSelect"
                     background-color="#2a83cf" text-color="#f1f8fc" active-text-color="#6ec673">
                <el-menu-item index="1">消息中心</el-menu-item>
                <el-menu-item index="2"><a href="https://www.ele.me" target="_blank">退出</a></el-menu-item>
            </el-menu>
        </el-header>
        <el-container style="height: 849px;">
            <el-aside width="200px">
                <h4><i class="el-icon-tickets"></i>功能导航</h4>
                <el-menu default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"
                         background-color="#f1f8fc" text-color="#000" active-text-color="#6ec673">
                    <el-menu-item index="1">
                        <i class="el-icon-menu"></i>
                        <span slot="title">首页</span>
                    </el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span>常用操作</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1">作品管理</el-menu-item>
                            <el-menu-item index="1-2">博文管理</el-menu-item>
                            <el-menu-item index="1-3">分类管理</el-menu-item>
                            <el-menu-item index="1-4">留言管理</el-menu-item>
                            <el-menu-item index="1-5">评论管理</el-menu-item>
                            <el-menu-item index="1-6">友情链接</el-menu-item>
                            <el-menu-item index="1-7">广告管理</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                    <el-submenu index="3">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span>系统管理</span>
                        </template>
                        <el-menu-item-group>
                            <el-menu-item index="1-1">用户管理</el-menu-item>
                            <el-menu-item index="1-2">部门管理</el-menu-item>
                            <el-menu-item index="1-3">角色管理</el-menu-item>
                            <el-menu-item index="1-4">系统设置</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>Main</el-main>
        </el-container>
        <el-footer>copyright@2019-yzhengwang.github.io</el-footer>
    </el-container>
</div>
</body>
<script>
    new Vue({
        el: '#app'
    })
</script>
{block name="footer"}{/block}
</html>